<div class="row gx-5 align-items-center">

	<div class="col">
		<span class="fw-bold">찹뱃색갸</span>는 대한민국에 살고있는 나부랭이 개발자가 만든 서비스 입니다.
		<br>
		양심없이 행동하는 사람들에게 정당한 방법으로 작은 변화를 주어 조금 더 정의로운 세상으로 변했으면 하는 마을을 담았습니다.
		<br>
		이런 서비스가 필요하다고 생각하셨다면 아래 물건 중 필요한 물건을 구입하여 더 빠르고 멋지게 고도화 할 수 있도록 후원해주세요.
		<br>
		앞으로 배포할 서비스들이 여러개 있습니다.
	</div>
</div>
<div class="row my-2 mx-2">

	<div class="col card text-center">
		<div class="card-body">
			<a href="https://link.coupang.com/a/bhBnVx" target="_blank" referrerpolicy="unsafe-url"><h5
					class="card-title">작은 후원</h5></a>
			<p class="card-text">운전의 기본은 껌씹기</p>

		</div>
		<a href="https://link.coupang.com/a/bhBnVx" target="_blank" referrerpolicy="unsafe-url"><img
				class="img-fluid"
				src="https://image15.coupangcdn.com/image/affiliate/banner/da192f1e2703bf0cd049ba5a0059c103@2x.jpg"
				alt="롯데 자일리톨 알파 오리지날, 86g, 1개" width="120" height="240"></a>

	</div>
	<div class="col card mx-2 text-center">
		<div class="card-body">
			<a href="https://link.coupang.com/a/bhBlzZ" target="_blank" referrerpolicy="unsafe-url"><h5
					class="card-title">중간 후원</h5></a>
			<p class="card-text">워셔액 다 떨어지진 않으셨나요?</p>

		</div>
		<a href="https://link.coupang.com/a/bhBlzZ" target="_blank" referrerpolicy="unsafe-url"><img
				class="img-fluid"
				src="https://img4c.coupangcdn.com/image/affiliate/banner/4d137376b48b9ee0ad16ceb1949d4979@2x.jpg"
				alt="탐사 에탄올 워셔액, 1.8L, 2개" width="120" height="240"></a>

	</div>
	<div class="col card text-center">
		<div class="card-body">
			<a href="https://link.coupang.com/a/bhBnre" target="_blank" referrerpolicy="unsafe-url"><h5
					class="card-title">큰 후원</h5></a
			<p class="card-text">엔진첨가제로 지친 애기들 간식 좀 사주세요</p>

		</div>
		<a href="https://link.coupang.com/a/bhBnre" target="_blank" referrerpolicy="unsafe-url"><img
				class="img-fluid"
				src="https://static.coupangcdn.com/image/affiliate/banner/3f4dcae8405047bde22d146eb955fbed@2x.jpg"
				alt="불스원 불스원샷 7만키로 연료첨가제 490ml, 2개, 가솔린/휘발유" width="120" height="240"></a>

	</div>

	<span class="fs-2">알아서 후원</span>
	<a href="https://link.coupang.com/a/bhBkFf" target="_blank" referrerpolicy="unsafe-url"><img
			class="img-fluid"
			src="https://ads-partners.coupang.com/banners/733560?subId=&traceId=V0-301-c1744fa69c93f626-I733560&w=728&h=90"
			alt=""></a>

	<span class="fs-6 fw-lighter">이 페이지는 쿠팡 파트너스 활동의 일환으로, 이에 따른 일정액의 수수료를 제공받습니다.</span>
</div>