<div class="row gx-5 align-items-center">

    <div class="col">
        <span class="fw-bold">찹뱃색갸</span>는 대한민국에 살고있는 나부랭이 개발자가 만든 서비스 입니다.
        <br>
        양심없이 행동하는 사람들에게 정당한 방법으로 작은 변화를 주어 조금 더 정의로운 세상으로 변했으면 하는 마을을 담았습니다.
        <br>
        이런 서비스가 필요하다고 생각하셨다면 아래 물건 중 필요한 물건이 있는지 한번 봐주세요.
        <br>
        맘에드는 물건을 구입하시면 소액의 수수료가 후원됩니다.(저한테 배송오는게 아니에요 ㅋㅋㅋ)
        <br>
        더 빠르고 멋지게 고도화 할 수 있도록 도와주세요.
    </div>
</div>
<div class="row my-2 mx-2">

    <div class="col card text-center">
        <div class="card-body">
            <a href="https://link.coupang.com/a/blhhuz" target="_blank" referrerpolicy="unsafe-url">
                <h5 class="card-title">작은 후원</h5>
            </a>
            <p class="card-text">계절 상관없이 소화기는 필수입니다!</p>

        </div>
        <a href="https://link.coupang.com/a/blhhuz" target="_blank" referrerpolicy="unsafe-url"><img
                src="https://image6.coupangcdn.com/image/affiliate/banner/ae296de69d1950a772f32c98954ceed6@2x.jpg"
                alt="미니소방관 가정용소화기 국산 차량 캠핑 휴대용 미니 소형 소화기 3개 세트 고정거치대 포함" width="120" height="240"></a>

    </div>
    <div class="col card mx-2 text-center">
        <div class="card-body">
            <a href="https://link.coupang.com/a/blhgyn" target="_blank" referrerpolicy="unsafe-url">
                <h5 class="card-title">중간 후원</h5>
            </a>
            <p class="card-text">추운데 온열매트 준비되셨나요?</p>
        </div>

        <a href="https://link.coupang.com/a/blhgyn" target="_blank" referrerpolicy="unsafe-url"><img
                src="https://image10.coupangcdn.com/image/affiliate/banner/5cf2785330b4c6731f126752c1d96eb3@2x.jpg"
                alt="그래핀 탄소매트 전자파없는전기매트 온열매트 카본 저버, 싱글(1000 x 2000 mm)" width="120" height="240"></a>
    </div>
    <div class="col card text-center">
        <div class="card-body">
            <a href="https://link.coupang.com/a/blhlkM" target="_blank" referrerpolicy="unsafe-url">
                <h5 class="card-title">큰 후원</h5>
            </a <p class="card-text">제일 핫한 로봇청소기입니다. 실사용하고 있는 입장에서 강추입니다.</p>

        </div>
        <a href="https://link.coupang.com/a/blhlkM" target="_blank" referrerpolicy="unsafe-url"><img
                src="https://static.coupangcdn.com/image/affiliate/banner/4af4363ced1576176191bde2497f972b@2x.jpg"
                alt="로보락 로봇청소기 S8 Pro Ultra, 화이트" width="120" height="240"></a>

    </div>

    <span class="fs-2">알아서 후원</span>
    <a href="https://link.coupang.com/a/bhBkFf" target="_blank" referrerpolicy="unsafe-url"><img class="img-fluid"
            src="https://ads-partners.coupang.com/banners/733560?subId=&traceId=V0-301-c1744fa69c93f626-I733560&w=728&h=90"
            alt=""></a>

    <span class="fs-6 fw-lighter">이 페이지는 쿠팡 파트너스 활동의 일환으로, 이에 따른 일정액의 수수료를 제공받습니다.</span>
</div>
